<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>com.hostel.controller.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.hostel.controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.hostel.controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>com.hostel.controller.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffProfileServlet</servlet-name>
        <servlet-class>com.hostel.controller.StaffProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffProfileServlet</servlet-name>
        <servlet-class>com.hostel.controller.EditStaffProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfileServlet</servlet-name>
        <servlet-class>com.hostel.controller.StudentProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteProfileServlet</servlet-name>
        <servlet-class>com.hostel.controller.CompleteProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffCompleteServlet</servlet-name>
        <servlet-class>com.hostel.controller.StaffCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.hostel.controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStudentServlet</servlet-name>
        <servlet-class>com.hostel.controller.RegisterStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomServlet</servlet-name>
        <servlet-class>com.hostel.controller.AddRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteStudentProfileServlet</servlet-name>
        <servlet-class>com.hostel.controller.CompleteStudentProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteStaffProfileServlet</servlet-name>
        <servlet-class>com.hostel.controller.CompleteStaffProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteAdminProfileServlet</servlet-name>
        <servlet-class>com.hostel.controller.CompleteAdminProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/UserRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffProfileServlet</servlet-name>
        <url-pattern>/StaffProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffProfileServlet</servlet-name>
        <url-pattern>/EditStaffProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfileServlet</servlet-name>
        <url-pattern>/StudentProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteProfileServlet</servlet-name>
        <url-pattern>/CompleteProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffCompleteServlet</servlet-name>
        <url-pattern>/StaffCompleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStudentServlet</servlet-name>
        <url-pattern>/RegisterStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomServlet</servlet-name>
        <url-pattern>/AddRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteStudentProfileServlet</servlet-name>
        <url-pattern>/CompleteStudentProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteStaffProfileServlet</servlet-name>
        <url-pattern>/CompleteStaffProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteAdminProfileServlet</servlet-name>
        <url-pattern>/CompleteAdminProfileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
